.version.index /* version checker */
{
	color: #0000E1;
	background-color: #199791;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 760px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 240px;
}

#pu115
{
	width: 0.01px;
}

#u115
{
	z-index: 4;
	min-height: 114px;
	padding-bottom: 48px;
}

#u116
{
	z-index: 5;
	width: 108px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 136px;
}

#u115-bw
{
	z-index: 4;
	min-height: 114px;
}

#menuu119
{
	z-index: 7;
	min-height: 25px;
}

#u120
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
}

#u121
{
	width: 93px;
	padding-bottom: 8px;
}

#u121:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u121:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u121:active #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
	left: 95px;
}

#u128
{
	width: 93px;
	padding-bottom: 8px;
}

#u121.MuseMenuActive,#u128:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121.MuseMenuActive #u124-4,#u128:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u136
{
	width: 94px;
	padding-bottom: 8px;
}

#u136:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u136:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u139-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u136:active #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 286px;
}

#u143
{
	width: 94px;
	padding-bottom: 8px;
}

#u136.MuseMenuActive,#u143:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136.MuseMenuActive #u139-4,#u143:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu119-bw
{
	z-index: 7;
	min-height: 25px;
	margin-top: 135px;
}

#u149-4
{
	z-index: 32;
	width: 240px;
	min-height: 52px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 20px;
	position: relative;
}

#u149
{
	font-weight: bold;
}

#pu109
{
	width: 0.01px;
	margin-left: 33px;
	margin-top: 41px;
}

#u109
{
	z-index: 2;
	width: 247px;
	margin-right: -10000px;
	margin-top: 82px;
	left: 27px;
}

#u150-8
{
	z-index: 36;
	width: 302px;
	min-height: 485px;
	background-color: transparent;
	letter-spacing: 6px;
	line-height: 22px;
	font-size: 18px;
	text-indent: 7px;
	position: relative;
	margin-right: -10000px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

