.version.produtos /* version checker */
{
	color: #000005;
	background-color: #7E4F72;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 929px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 71px;
}

#pu115
{
	width: 0.01px;
}

#u115
{
	z-index: 4;
	min-height: 114px;
	padding-bottom: 48px;
}

#u116
{
	z-index: 5;
	width: 108px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 136px;
}

#u115-bw
{
	z-index: 4;
	min-height: 114px;
}

#menuu119
{
	z-index: 7;
	min-height: 25px;
}

#u120
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
}

#u121
{
	width: 93px;
	padding-bottom: 8px;
}

#u121:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u121:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u121:active #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
	left: 95px;
}

#u128
{
	width: 93px;
	padding-bottom: 8px;
}

#u121.MuseMenuActive,#u128:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121.MuseMenuActive #u124-4,#u128:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u136
{
	width: 94px;
	padding-bottom: 8px;
}

#u136:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u136:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u139-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u136:active #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 286px;
}

#u143
{
	width: 94px;
	padding-bottom: 8px;
}

#u136.MuseMenuActive,#u143:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136.MuseMenuActive #u139-4,#u143:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu119-bw
{
	z-index: 7;
	min-height: 25px;
	margin-top: 135px;
}

#u258-4
{
	z-index: 32;
	width: 266px;
	min-height: 63px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	margin-left: 19px;
	margin-top: 14px;
	position: relative;
}

#u258
{
	font-weight: bold;
}

#pu109
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 18px;
}

#u109
{
	z-index: 2;
	width: 247px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 41px;
}

#u259
{
	z-index: 36;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
}

#u265-10
{
	z-index: 38;
	width: 131px;
	min-height: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 194px;
}

#u266
{
	z-index: 48;
	width: 171px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
}

#u272-10
{
	z-index: 50;
	width: 131px;
	min-height: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 194px;
}

#pu273
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 34px;
}

#u273
{
	z-index: 60;
	width: 156px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u279-10
{
	z-index: 62;
	width: 131px;
	min-height: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 187px;
}

#pu280
{
	width: 0.01px;
	margin-left: 26px;
	margin-top: 42px;
}

#u280
{
	z-index: 72;
	width: 154px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u286-10
{
	z-index: 74;
	width: 131px;
	min-height: 131px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u265-2,#u272-2,#u279-2,#u286-2
{
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
}

#u265-8,#u272-8,#u279-8,#u286-8
{
	font-size: 24px;
	line-height: 29px;
	color: #FF0000;
	font-weight: bold;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

