.version.servi_os /* version checker */
{
	color: #0000F7;
	background-color: #8E422A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 929px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 71px;
}

#pu115
{
	width: 0.01px;
}

#u115
{
	z-index: 4;
	min-height: 114px;
	padding-bottom: 48px;
}

#u116
{
	z-index: 5;
	width: 108px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 136px;
}

#u115-bw
{
	z-index: 4;
	min-height: 114px;
}

#menuu119
{
	z-index: 7;
	min-height: 25px;
}

#u120
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
}

#u121
{
	width: 93px;
	padding-bottom: 8px;
}

#u121:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u121:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u124-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121:hover #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u121:active #u124-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u127
{
	width: 93px;
	min-height: 25px;
	margin-right: -10000px;
	left: 95px;
}

#u128
{
	width: 93px;
	padding-bottom: 8px;
}

#u121.MuseMenuActive,#u128:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u128.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 93px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u121.MuseMenuActive #u124-4,#u128:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u128.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 93px;
	margin: 0px -10000px 0px 0px;
}

#u135
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 190px;
}

#u136
{
	width: 94px;
	padding-bottom: 8px;
}

#u136:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u136:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u139-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136:hover #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u136:active #u139-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u142
{
	width: 94px;
	min-height: 25px;
	margin-right: -10000px;
	left: 286px;
}

#u143
{
	width: 94px;
	padding-bottom: 8px;
}

#u136.MuseMenuActive,#u143:hover
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143:active
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u143.MuseMenuActive
{
	width: 94px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 94px;
	min-height: 17px;
	margin-right: -10000px;
	top: 4px;
}

#u136.MuseMenuActive #u139-4,#u143:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u143.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#menuu119-bw
{
	z-index: 7;
	min-height: 25px;
	margin-top: 135px;
}

#u151-4
{
	z-index: 32;
	width: 233px;
	min-height: 49px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	margin-left: 9px;
	margin-top: 22px;
	position: relative;
}

#slideshowu152
{
	z-index: 36;
	width: 0.01px;
	height: 400px;
	margin-left: 9px;
	margin-top: 37px;
	position: relative;
}

#u155
{
	position: absolute;
	width: 356px;
	height: 360px;
	background-color: transparent;
}

#u155popup
{
	z-index: 37;
}

#u160
{
	z-index: 38;
	width: 356px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u160_img
{
	margin-top: -38px;
	margin-bottom: -38px;
}

#u220
{
	z-index: 40;
	width: 356px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u220_img
{
	margin-top: -41px;
	margin-bottom: -41px;
}

#u229
{
	z-index: 42;
	width: 356px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u229_img
{
	margin-top: -18px;
	margin-bottom: -18px;
}

#u238
{
	z-index: 44;
	width: 356px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u238_img
{
	margin-left: -7px;
	margin-right: -7px;
}

#u247
{
	z-index: 46;
	width: 356px;
	height: 360px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u160_clip,#u220_clip,#u229_clip,#u238_clip,#u247_clip
{
	overflow: hidden;
	width: 356px;
	height: 360px;
}

#u247_img
{
	margin: 3px 4px 3px -2px;
}

#u164
{
	position: absolute;
	width: 349px;
	background-color: transparent;
	top: 360px;
}

#u164popup
{
	z-index: 48;
}

#u167-4
{
	z-index: 49;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u226-4
{
	z-index: 53;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u235-4
{
	z-index: 57;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u244-4
{
	z-index: 61;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u253-4
{
	z-index: 65;
	width: 329px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: left;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-right: -10000px;
	position: relative;
}

#u168-4
{
	position: absolute;
	width: 48px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 244px;
}

#u168-4popup
{
	z-index: 69;
}

#u163-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	text-align: center;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 212px;
}

#u163-4popup
{
	z-index: 73;
}

#u168,#u163
{
	color: #999999;
}

#u177-4
{
	position: absolute;
	width: 10px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 360px;
	left: 314px;
}

#u177-4popup
{
	z-index: 77;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u109
{
	z-index: 2;
	width: 247px;
	margin-left: 60px;
	top: -336px;
	margin-bottom: -247px;
}

#u256-23
{
	z-index: 81;
	width: 275px;
	min-height: 237px;
	background-color: transparent;
	margin-left: 38px;
	margin-top: 38px;
	position: relative;
}

#u256-2
{
	font-size: 24px;
	text-align: center;
	line-height: 29px;
	color: #FF0000;
	font-weight: bold;
}

#u256-6,#u256-9,#u256-12,#u256-15,#u256-18,#u256-21
{
	font-size: 18px;
	line-height: 22px;
}

#u256-5,#u256-8,#u256-11,#u256-14,#u256-17,#u256-20
{
	color: #FF0000;
	font-weight: bold;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

